@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ol>
        <li><a href="/Home/About">About</a></li>
        <li><a href="/Home/Contact">Contact</a></li>
    </ol>
</div>

@{
    //razor View 
    //razor syntax
    
    int count=56;
    <p>Count is: @count</p>
}