
<!-- Custoemr Registration Form ---->

<h2>User Registration</h2>
<hr/>
<table>
    <form method="POST" action="/auth/register">
        <tr>
            <td>Frist Name:</td>
            <td><input type="text" name="firstname" id="fname"/></td>
    </tr>
    <tr>
             <td>Last Name:</td>
            <td><input type="text" name="lastname" id="lname"/></td>
    </tr>
    <tr>
             <td>Email ID:</td>
            <td><input type="email" name="email" id="mail"/></td>
    </tr>
    <tr>
             <td>Password:</td>
            <td><input type="password" name="password" id="pwd"/></td>
    </tr>
    <tr>
            <td></td>
            <td><button type="submit" id="btnRegister">Register</button></td>
    </tr>
    </form>
</table>
